<div class="d-flex justify-content-between align-items-center mb-3">
  <h4>プロフィール編集</h4>
  <%= link_to request.referer || boards_path, class: "btn " do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>
<%= render partial: "form" %>
