<div class="footer">
  <nav class="navbar w-100 d-flex flex-column justify-content-center align-items-center">
    <ul class="nav nav-underline text-center mb-2">
      <li class="nav-item">
        <%= link_to "ホーム", "#", class: "nav-link text-black" %>
      </li>
    </ul>
    <div class="text-center text-black">
      Copyright © 2023 話のタネ All Rights Reserved.
    </div>
  </nav>
</div>