<div class="footer">
  <nav class="navbar w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center text-black">
      Copyright © 2023 話のタネ All Rights Reserved.
    </div>
  </nav>
</div>