<% if current_user.already_task_favorited?(task) %>
  <%= button_to task_task_favorites_path(task.id), method: :delete, remote: true, data: {"turbolinks" => false}, class: "btn btn-link" do %>
    <i class="fa-solid fa-heart fa-lg" style="font-size: 2.0em; color: red;"></i>
  <% end %>
  <div class="ml-1 text-dark"><%= task.task_favorites.count %></div>
<% else %>
  <%= button_to task_task_favorites_path(task.id), method: :post, remote: true, data: {"turbolinks" => false}, class: "btn btn-link" do %>
    <i class="fa-regular fa-heart fa-lg" style="font-size: 2.0em; color: red"></i>
  <% end %>
  <div class="ml-1 text-dark"><%= task.task_favorites.count %></div>
<% end %>