<div class="bg-white p-4 rounded mb-4 nested-fields">
  <div class="mb-1">
    <%= f.label :topic_id, class: 'form-label mb-1' %>
    <%= f.text_field :topic_id, class: 'form-control' %>
  </div>
  <%= link_to_remove_association "トピックIDを削除", f, class: 'btn btn-warning mb-3' %>
</div>
