<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2>パック一覧</h2>
</div>

<div class="container">
  <div class="row">
    <% @packs.each do |pack| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="common-card shadow bg-light">
          <%= link_to pack_path(pack, page: params[:page]), class: "card-link text-dark" do %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= pack.title %></h5>
              <p class="text-muted"><%= pack.created_at.strftime('%Y年%m月%d日') %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
  <div class="btn-white text-black">
    <%= custom_pagy_nav(@pagy) %>
  </div>
</div>