<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">パック一覧</h1>
</div>

<div class="container">
  <div class="row">
    <% @packs.each do |pack| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="common-card shadow bg-light">
          <div class="card-body text-center">
            <h5 class="card-title"><%= pack.title %></h5>
            <p class="text-muted"><%= pack.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></p>
            <%= link_to "詳細", pack_path(pack), class: "btn btn-primary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>