<nav class="pt-3 mx-3">
  <a class="p-2 text-dark">話の種コレクション</a>
  <a class="p-2 text-dark" href="#"><%= link_to "パック一覧", packs_path %></a>
  <a class="p-2 text-dark" href="#"><%= link_to "パック追加", new_pack_path %></a>
  <a class="p-2 text-dark" href="#">ユーザー一覧</a>
</nav>