<h1 class="display-4 m-4"><%= @board.title %></h1>
<div class="group d-flex m-4">
  <% @board.lists.each do |list| %>
    <div class="flex-row m-5">
      <%= list.title %>
      <div class="flex-column mt-5">
        <% list.tasks.each do |task| %>
          <div class="card mt-3" style="width: 15rem;">
            <div class="card-body">
              <%= link_to task.title, task_path(task) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
