/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "color";
 @import "bootstrap";
 @import 'font-awesome';
 @import "boards";
 @import "layouts/wrap";

 .bg-color {
  background-color: $bg-color;
}

 .common-card {
  background-color: $card-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.common-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  border: 1px solid $black;
}

.nav-link:hover {
  border-bottom: 1px solid $black;
}
