
// board.scss
@import "color";
.bg-color {
  background-color: $bg-color;
}

.card-header {
  background-color: $border-color
}

.link-black {
  color: $black;
}

.link-black:hover {
  color: $border-color;
}


// ## リプレイス
.task-card h4 a {
  color: black;
  &:hover {
    color: $border-color;
  }
}
.common-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.common-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

