
// board.scss
@import "color";
.bg-color {
  background-color: $bg-color;
}

.card-header {
  background-color: #9f903b
}

.link-black {
  color: $black;
}

.link-black:hover {
  color: $border-color;
}


// ## リプレイス
.task-card h4 a {
  color: black;
  &:hover {
    color: $border-color;
  }
}

